@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

/* Path: styles/globals.css */


.contacts-form{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contacts-form input{
  display: block;
  padding: 5px;
  border: 1px gray solid;
  border-radius: 3px;
  margin-top: 15px;
}

.contacts-form textarea{
  display: block;
  padding: 5px;
  border: 1px gray solid;
  border-radius: 3px;
  margin-top: 15px;
}



.sign-in-form{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-in-form input{
  display: block;
  padding: 5px;
  border: 2px #d4d4d4 solid;
  border-radius: 5px;
  margin-top: 15px;
}

.sign-up-form{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sign-up-form input{
  display: block;
  padding: 5px;
  border: 2px #d4d4d4 solid;
  border-radius: 5px;
  margin-top: 15px;
}

.sign-up-form button{
  display: block;
  padding: 5px;
  border: 2px #d4d4d4 solid;
  border-radius: 5px;
  margin-top: 15px;
}


.ul_top_hypers li {
  display: inline;
}
.div_top_hypers {
  display: inline;      
}
.ul_top_hypers li{
  display: inline;
}

.dropdown-container {
  text-align: left;
  border: 1px solid #ccc;
  position: relative;
  border-radius: 5px;
}

.dropdown-input {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
}

.dropdown-menu {
  position: absolute;
  transform: translateY(4px);
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: auto ;
  max-height: 150px;
  background-color: #fff;
}

.dropdown-item {
  padding: 5px;
  cursor: pointer
}

.dropdown-item:hover {
  background-color: #9fc3f870;
}

.dropdown-item.selected {
  background-color: #0d6efd;
  color: #fff;
}

.dropdown-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.dropdown-tag-item {
  background-color: #ddd;
  padding: 2px 4px;
  border-radius: 2px;
  display: flex;
  align-items: center;
}
.dropdown-tag-close {
  display: flex;
  align-items: center;
}

@layer components{
    .infoText {
      @apply p-4 bg-blue-100 rounded-lg max-w-[300px]
    }
    
    .chatRow {
      @apply rounded-lg px-5 py-3 text-sm flex space-x-2
      hover:bg-gray-700/70 cursor-pointer text-black transition-all duration-200 ease-out
    }
}

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700&display=swap');

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
}
a{
  text-decoration: none;
  color: inherit;
  text-align: center;

}
header{
  position: sticky;
  z-index: 30;
  top: 0;
  
}

body{
  min-height: 100vh;
  display: flex ;
  flex-direction: column;
}

footer{
  margin-top: auto;
  flex:auto ;
}

article {
  margin: auto 0;
}

nav{
  display: flex;
  position: absolute;
  justify-content: space-between;
  align-items: center;
  background-color: #ecf7ff;
  
}
.nav__menu-bar{
  flex-direction: row;
  position: absolute;
  cursor: pointer;
}
.nav__menu-bar div{
  width: 80px;
  height: 6px;
  
}
.nav__menu-list{
  display: inline-flex;
  direction: row;

  top: 60px;
  width: 400px;
  padding-right: 80px;
  transition: all 0.2s;
  min-height: calc(100vh - 60px);
  background-color: #ecf7ff;
  border: 2px;
  border-radius: 2px;
  border-color: black;
  padding-top: 10px;
  
}
.nav__menu-list.active{
  right: 0;
  
}
.nav__link{
  font-size: 18px; 
  position: relative;
  transition: all 0.2s;
}


.nav__link:hover{
 font-weight: bold;
}

.center{
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__item{
  padding-top: 5px;
  text-transform: uppercase;
  font-weight: 600;
}

@media screen and (min-width: 1024px) {
  .nav__menu-bar{
    display: inline-flex;
  }
  .nav__menu-list{
    display: inline-flex;
    padding-top: 15px;
    position: unset;
    flex-direction: row;
    min-height: fit-content;
    width: fit-content;
    height: fit-content;
    align-items: center;
    color: black;
    font-size: medium;
    font-family: "Pangea, sans-serif";
    font-weight: normal;
  }
  .nav__menu-list_horizontal{
    display: inline-flex;
    padding-top: 15px;
    position: unset;
    flex-direction: row;
    min-height: fit-content;
    width: fit-content;
    height: fit-content;
    align-items: center;
    color: black;
    font-size: medium;
    font-family: "Pangea, sans-serif";
    font-weight: normal;
  }
  .nav__link::before{
    position: absolute;
    background-color: black;
    transition: all 0.2s;
  }
  
  .nav__link:hover:before{
   width: 100%;
  }
}

