@tailwind base;
@tailwind components;
@tailwind utilities;


.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Styles for the content section */
.content {
  flex: -1;
}



.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}


.contacts-form{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contacts-form input{
  display: block;
  padding: 5px;
  border: 1px gray solid;
  border-radius: 3px;
  margin-top: 15px;
}

.contacts-form textarea{
  display: block;
  padding: 5px;
  border: 1px gray solid;
  border-radius: 3px;
  margin-top: 15px;
}


.sign-in-form{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-in-form input{
  display: block;
  padding: 5px;
  border: 2px #d4d4d4 solid;
  border-radius: 5px;
  margin-top: 15px;
}

.sign-up-form{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sign-up-form input{
  display: block;
  padding: 5px;
  border: 2px #d4d4d4 solid;
  border-radius: 5px;
  margin-top: 15px;
}

.sign-up-form button{
  display: block;
  padding: 5px;
  border: 2px #d4d4d4 solid;
  border-radius: 5px;
  margin-top: 15px;
}


.ul_top_hypers li {
  display: inline;
}
.div_top_hypers {
  display: inline;      
}
.ul_top_hypers li{
  display: inline;
}

.dropdown-container {
  text-align: left;
  border: 1px solid #ccc;
  position: relative;
  border-radius: 5px;
}

.dropdown-input {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
}

.dropdown-menu {
  position: absolute;
  transform: translateY(4px);
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: auto ;
  max-height: 150px;
  background-color: #fff;
}

.dropdown-item {
  padding: 5px;
  cursor: pointer
}

.dropdown-item:hover {
  background-color: #9fc3f870;
}

.dropdown-item.selected {
  background-color: #0d6efd;
  color: #fff;
}

.dropdown-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.dropdown-tag-item {
  background-color: #ddd;
  padding: 2px 4px;
  border-radius: 2px;
  display: flex;
  align-items: center;
}
.dropdown-tag-close {
  display: flex;
  align-items: center;
}

@layer components{
    .infoText {
      @apply p-4 bg-blue-100 rounded-lg max-w-[300px]
    }
    
    .chatRow {
      @apply rounded-lg px-5 py-3 text-sm flex space-x-2
      hover:bg-gray-700/70 cursor-pointer text-black transition-all duration-200 ease-out
    }
}


.sidebar-container {
  /* Rest of your styles */
  transition: opacity 0.5s ease-in-out;
}

.sidebar-container.open {
  opacity: 1;
}

.sidebar-container.closed {
  opacity: 0;
}

.editable-message {
  width: 100%;
  min-height: 15rem; /* Set a minimum height that you find appropriate */
  min-width: 60rem;
  font-size: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: #4d4d4f;
  border-color: #4d4d4f;
  box-sizing: border-box;
  resize: both; /* Allow vertical resize, disallow horizontal */
}